Binaries/
Intermediate/
Saved/
.vs/TwelveAngryNodes/v14/.suo
TwelveAngryNodes.sln
TwelveAngryNodes.xcworkspace/
TwelveAngryNodes.xcodeproj/
TwelveAngryNodes.VC.db
Documents/Design/~$Improvements_Buildings.xlsx
